<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hoangyen.appgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GiaoDienChinh"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.appgame.GiaoDienChinh" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GiaoDienChoi"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.appgame.GiaoDienChoi" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GiaoDienCauHoi"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.appgame.GiaoDienCauHoi" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CauHoiTiep"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.appgame.CauHoiTiep" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LuuDiem"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.appgame.LuuDiem" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Diemcao"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.appgame.Diemcao" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".huongdan"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.appgame.huongdan" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
